nav ul {
    float: right;
  }
  
  nav li {
    float: left;
    padding-right: 2px;
  }

  main p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 30px;
    margin: 20px 0px;
  }

 
  
  .recipe li {
    float: left;
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
  }